# the source data file
trust-culture-wrangling/PV PAR Interviews Full_CLEANED.dta

# the code to extract items from the source data file
trust-culture-wrangling/trust-culture-source-export.do

# the code for the research cluster (RC)
trust-culture-rodeo/trust-culture-heterogeneity-RC.R

# data files
trust-culture-rodeo/trust.fit.1.Rdata
trust-culture-rodeo/trust.fit.2.Rdata
trust-culture-rodeo/trust.fit.2.diff.Rdata
trust-culture-rodeo/trust.fit.3.Rdata
trust-culture-rodeo/trust.fit.4.Rdata
trust-culture-rodeo/trust.fit.5.Rdata
trust-culture-rodeo/trust.fit.6.Rdata
.Rproj.user

# misc stuff
.DS_Store